main {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.797);
}

main .main_part {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 35px;
}

main .main_part .a {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 15px;
}

main .main_part .a h1 {
    font-size: 42px;
    font-weight: 400;
    color: white;
    margin-left: 10px;
    margin-bottom: 25px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    font-size: 25px;
    padding: 0 .5em;
    color: beige;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    font-size: 17px;
    color: beige;
    padding-right: 10px;
}

option {
    background: #5c6664;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;
}

@media (min-width:615px) and (max-width:1600px) {
    main .main_part .a h1
    {
        margin-bottom: 0;
    }
}

